---
title: "Publications & Awards"
layout: default
description: " "
header-img: "img/post-bg-desk.jpg"
---
<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>
   
    <span style="display:block;text-indent:2em;"><h3><strong>Publication list</strong></h3></span>
    <span style="display:block;text-indent:2em;"><h4><strong>Papers</strong></h4> </span>
    <ul style="list-style-type:none">
        <li>[1] Liu. Q, Wu. Z, <strong>Wang. Z</strong>, and Sutcliﬀe. G, “Evaluation of Axiom Selection Techniques”, 7th workshop on practical aspects of automated reasoning, p. 12, 2020.</li>
        <li>[2] Kang. H, <strong>Wang. Z</strong>, Yu. A and Tan. Y. Analysis and Prediction of User Behavior Based on Web Log. Journal of Zhengzhou University, 51(3): 13-20, 2019.</li>
        <li>[3] <strong>Wang. Z</strong>. Analysis and Prediction of User Behavior Based on Web Log. Bachelor thesis directed by Professor Kang Haiyan (Kang H.), Beijing Information Science and 
        <span style="display:block;text-indent:1.5em;">Technology University, 2018.</span></li>
    </ul>
    <span style="display:block;text-indent:2em;"><h4><strong>Patents</strong></h4> </span>
    <ul style="list-style-type:none">
        <li>[1] Kang. H, <strong>Wang. Z</strong>. Method and system of user behavior description and prediction based on web log. China, 201910089017 .1[P]. 2019-05-21.</li>
        <li>[2] Xie. X, <strong>Wang. Z</strong>, Zhou. Y. A method for producing edible enzyme with plant <i>Abelmoschus manihot (L .) Medicus</i>. China, 201811542055 .X[P]. 2019-05-17.</li>
    </ul>
   
    <span style="display:block;text-indent:2em;"><h3><strong>Awards</strong></h3></span>
    <span style="display:block;text-indent:2em;"><h4><strong>Outstanding in computer science, mathematics and physics, 7 pieces</strong></h4> </span>
    <ul style="list-style-type:none">
        <li>[1]	TestOut Desktop PRO Certification, Candidate ID: U27JD, Certificate ID: CV2T3A. TestOut Corporation, May 2, 2018</li>
        <li>[2]	2nd Prize in Internet Plus of Innovative Entrepreneurship Competition of College Student in Beijing Information Science and Technology University (BISTU), 2017</li>
        <li>[3]	2nd Prize of Information Security Competition in BISTU, 2016</li>
        <li>[4]	2nd Prize of Physics Competition in BISTU, 2016</li>
        <li>[5]	2nd Prize of Physics Experiment Competition in BISTU, 2016</li>
        <li>[6]	Certificate of Attendance National Mathematical Modeling Competition of China. Beijing Municipal Commission of Education, China Society for Industrial and Applied Mathematics, 2016
        <span style="text-indent:1.5em;">Mathematics, 2016</span></li>
        <li>[7]	2nd Prize of Information Security Competition in BISTU, 2015</li>
    </ul>

    <span style="display:block;text-indent:2em;"><h4><strong>Excellent student, 4 pieces</strong></h4> </span>
    <ul style="list-style-type:none">
        <li>[1]	2nd Prize of Research and Innovative Scholarship in the year of 2016-2017 in BISTU, 2018</li>
        <li>[2]	3rd Prize of Excellent Academic Scholarship in the year of 2016-2017 in BISTU, 2018</li>
        <li>[3]	1st Prize of Excellent Academic Scholarship in the year of 2014-2015 in BISTU, 2015</li>
        <li>[4]	Straight-A student  in the academic year of 2014-2015 in BISTU, 2015</li>
    </ul>
 
    
    <span style="display:block;text-indent:2em;"><h4><strong>Leadership and volunteer, 2 pieces</strong></h4> </span>
    <ul style="list-style-type:none">
        <li>[1]	Certificate of Participation for outstanding performance and lasting contributions to Toastmasters International STU Chapter in St. Thomas University. Awarded on November 17, 
        <span style="display:block;text-indent:1.5em;">2017</span></li>
        <li>[2]	IAAF World Championships Beijing 2015 Volunteer Certificate. The Organizing Committee of IAAF World Championships Beijing, 2015</li>
    </ul>
    
    <span style="display:block;text-indent:2em;"><h4><strong>Others, 2 pieces</strong></h4> </span>
    <ul style="list-style-type:none">
        <li>[1] Magician member of the international association of Chinese magician</li>
        <li>[2]	Certificate of participation for the united magicians world 2020</li>
    </ul>


